
  body {
    background-color: rgb(61, 61, 61);
  }

  .naslov {
    text-align: center;
    color: white;
    font-size: 1.4em;
    font-family: 'Montserrat';
    margin-top: 50px;
  }

  .content {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    width: 100%;

  }

 


  .type-button
  {
    background-color: rgb(61, 61, 61);
    color: white;
    font-size: 1.4em;
    font-family: 'Montserrat';
    border: 2px solid white;
    border-radius: 20px;
    padding: 10px;
    width: fit-content;
    height: fit-content;
    text-align: center;
    margin: 0 auto;
  }
 .spacing {
    padding-left: 20px;
    padding-right: 20px;
  }
  .element-window {
    box-shadow: 5px 5px rgb(210, 210, 210);
    cursor: pointer;
    background-color: rgb(109, 109, 109);
    border-radius: 20px;
    display: flex;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    width: fit-content;


  }


  table {
    height: 90%;
    width: 50%;
  }
  

  @media (max-width: 768px) {
    td.spacing {
      width: 100%;
    }
  
}