* {
  box-sizing: border-box;
  border-end-end-radius: 10px;
  border-end-start-radius: 10px;
  border-start-end-radius: 10px;
  border-start-start-radius: 10px;
}

.fullscreen {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100vw;
  height: 100vh;
}

.center-text {
  position: absolute;
  text-align: center;
  font-size: 2rem;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.text {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: green;
  font-family: monospace;
  font-size: 6vmin;


}


.gallery-container {
  background-color: rgb(22, 22, 24);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}


.gallery-image {
  width: 20%;
 
  margin: 5px;
  border: 2px solid green;
}


.loading-screen {
  position: fixed;
 
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

header {
  background-color: #FF595A;

}

.gallery-element {
  background-color: green;
  color: white;
  font-size: 16px;
  padding: 10px 20px;
  border: none;
  margin: 10px;
  transition: all 0.2s ease;
}


.gallery-element:hover {
  transform: scale(1.05);
  opacity: 0.8;
  cursor: pointer;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}

.naslov {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  color: green;
  font-family: monospace;
  font-size: 3vmin;
}

.mapa {
  width: 90%;
  height: 90%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  margin-top: 22px;
  margin-bottom: 22px;
}

#source-code-modal {
  display: none;
  position: fixed;
  z-index: 999;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
 
  width: 80%;
 
  height: 19%;
 
  background-color: white;
  border: 1px solid black;
  box-shadow: 10px 10px 5px #888888;
  overflow: auto;
 
}

.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  margin-left: 10px;
}

#source-code-modal-content {
  padding: 10px;
}

body {
  z-index: 0;
}

.spodaj {
  position: relative;
  align-items: center;
  left: 0;
  right: 0;
  text-align: center;
  color: rgb(0, 0, 0);
  font-family: monospace;
  font-size: 2.5vmin;

  padding-bottom: 10px;

}