* {
  box-sizing: border-box;
  border-end-end-radius: 13px;
  border-end-start-radius: 13px;
  border-start-end-radius: 13px;
  border-start-start-radius: 13px;
  font-family: 'Montserrat';
}


body {
  background-color: rgb(61, 61, 61);
  font-family: 'Montserrat';
  
}

.fullscreen {
  position: absolute;
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%); 
  width: 100vw; 
  height: 100vh; 
}
.center-text {
  position: absolute;
  text-align: center;
  font-size: 2rem;
  width: 100%; 
  top: 50%;
  left: 50%; 
  transform: translate(-50%, -50%);
}

/* Style the text */
.text {
  width: 100%;
  display: flex;
  align-items: center; 
  justify-content: center;
  text-align: center;
  color: #ffffff;
  font-family: monospace;
  font-size: 6vmin;


}

/* Set the background color of the gallery container to black */
.gallery-container {
  background-color: black;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* Style the gallery images */
.gallery-image {
  width: 20%; /* Set the width of the images to be 20% of the container */
  margin: 5px;
  border: 2px solid green;
}

/* Style the loading screen */
.loading-screen {
  position: fixed; /* Position the loading screen in the center of the screen */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gallery-container {
  background-color: black;
  display: flex;

}

/* Style the gallery elements */
.gallery-element {
  background-color: green;
  color: white;
  font-size: 16px;
  padding: 10px 20px;
  border: none;
  margin: 10px;
  transition: all 0.2s ease;
}

/* Add styles for when the gallery elements are hovered over */
.gallery-element:hover {
  transform: scale(1.05);
  opacity: 0.8;
  cursor: pointer;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}

.naslov{
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  color: #FF595A;
  font-family: monospace;
  font-size: 3vmin;
}
.mapa{
  width: 90%;
  height: 90%;  
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  margin-top: 22px;
  margin-bottom: 22px;
}
#source-code-modal {
  display: none;
  position: fixed;
  z-index: 999;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%); /* centers the modal on the screen */
  width: 80%; /* adjust as desired */
  height: 19%; /* adjust as desired */
  background-color: white;
  border: 1px solid black;
  box-shadow: 10px 10px 5px #888888;
  overflow: auto; /* enables scrollbars if content overflows */
}

.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  margin-left: 10px;
}

#source-code-modal-content {
  padding: 10px;
}

body {
  z-index: 0;
}

.spodaj{
  position: relative;
align-items: center;
  left: 0;
  right: 0;
  text-align: center;
  color: #FF595A;
  font-family: monospace;
  font-size: 2.5vmin;

  padding-bottom: 10px;
 
}

header{
  height: 80px;
  width: 100%;
  background-color: rgb(109, 109, 109);
  display: inline-flex;
  flex-direction: row;
  align-content: center;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}
header .links{
  height: 80px;
  display: flex;
  align-items: center;
  width: fit-content;
  width: 50%;
}
header ul li{
  list-style: none;
  display: flex;
  text-align: center;
  align-items: center;
  padding: 0rem 2rem;
  width: fit-content;
  text-decoration: none;
}
header ul li a{
  font-size: large;
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
  width: fit-content;
  color: #ffffff;

}
.link-button:hover{
  background-color: rgb(61, 61, 61); 
  box-shadow: rgba(0, 0, 0, 0.3) 0px 6px 20px, rgba(0, 0, 0, 0.22) 0px 6px 4px; 
  scale: 0.9;
  transition: 0.2s;

}

h2{
  font-family: "Montserrat", sans-serif;
  font-size: 1.6rem;
  color: #ffffff;
  text-align: center;
  margin: 0;
  padding: 0;
  width: 50%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}
h1{
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
  color: #ffffff;
  text-align: center;
  margin: 0;
  padding: 0;
  width: 50%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}